</br>
</br>
<div class="container-fluid">
<div class="row">
  <div class="col-xs-6 col-md-4"> <%= image_tag 'construcao.jpg' =%></div>
  <div class="col-xs-6 col-md-4"> <h2>Fale Conosco </h2></div>
</div>

  <div class="jumbotron">
    </br>
    </br>
    </br>

<h3>Página em Desenvolvimento, em breve nosso formulário de contato estará disponivel</h3>
      </br>
      </br>
      </br>

    <div class="col-xs-6 col-md-3 navbar-right">
      <a href="#" class="thumbnail">
      </a>
    </div>
    </br>
  </div>
</div>
</br>
</br>
</br>
</br>
</br>


