</br>
</br>
<div class="container-fluid">
<div class="row">
  <div class="col-xs-6 col-md-4"> <%= image_tag 'construcao.jpg' =%></div>
  <div class="col-xs-6 col-md-4"> <h2>Fale Conosco </h2></div>
</div>
</br>

    <h3>Página em Desenvolvimento, em breve nosso formulário de contato estará disponivel</h3>

  <div class="jumbotron">
    <h2>Contatos</h2>
    </br>
    <h3>Tel e whatsapp: TIM (91) 99805-3374 </h3>
    <h3>E-mail: mirandaweb77@gmail.com </h3>
    <h3>Belém-Pará-Brasil</h3>

      </br>
      </br>
      </br>

    <div class="col-xs-6 col-md-3 navbar-right">
      <a href="#" class="thumbnail">
      </a>
    </div>
    </br>
  </div>
</div>
</br>
</br>
</br>
</br>
</br>


