</br>
</br>
</br>

<div class="container">
  <div class="jumbotron">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag 'fale-conosco.jpg' %>
      </a>
    </div>
    <p class="text-right">
      <h2>Fale Conosco</h2>
  </p>
    </br>
    </br>
    </br>
    </br>
    </br>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputNome3" class="col-sm-2 control-label">Nome</label>
        <div class="col-sm-10">
          <input type="nome" class="form-control" id="inputNome3" placeholder="Nome">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">E-mail</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="E-mail">
        </div>
        </div>
      <div class="form-group">
        <label for="inputAssunto3" class="col-sm-2 control-label">Assunto</label>
        <div class="col-sm-10">
          <input type="assunto" class="form-control" id="inputAssunto3" placeholder="Assunto">
        </div>
      </div>

      <div class="form-group">
        <label for="inputMensagem3" class="col-sm-2 control-label">Mensagem</label>
        <div class="col-sm-10">
        <textarea class="form-control" placeholder="Mensagem" rows="3" ></textarea>
        </div>
      </div>

</br>
<button type="button" class="btn btn-success">Voltar</button>
<button type="button" class="btn btn-primary">Enviar</button>
    </form>

</br>


    <div class="col-xs-6 col-md-3 navbar-right">
      <a href="#" class="thumbnail">
        <%= image_tag 'fale-conosco2.jpg' %>
      </a>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>



  </div>
</div>
</br>
</br>
