</br>
</br>
</br>

<div class="container">
  <div class="jumbotron">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag 'pagina_em_construcao.jpg' %>
      </a>
    </div>
    <p class="text-right">
      <h2>Fale Conosco</h2>
  </p>
    </br>
    </br>
    </br>
    </br>
    </br>

    <h2> Página em construção. </h2>

    <h3> Em breve estará disponível nosso formulário de contato.  </h3>

    </br>
    </br>
    <div class="col-xs-6 col-md-3 navbar-right">

    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
  </div>
</div>


</br>
</br>
