<div class="cover">
<div class="cover-image">
<%= image_tag "banner1.jpg" =%>
</div>
<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
      <p> TORNE SUA IDÉIA UM SUCESSO !!!</p>
      <h3> <p>Sites Modernos e responsivos adaptados a qualquer tecnologia</p><h3>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">VER MAIS</a></p>
      </div>
    </div>
  </div>
</div>

