<div class="cover">
  <div class="cover-image">
    <%= image_tag "banner1.jpg" =%>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="carousel-caption">
            <h1>Marketing stuff!</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wpb_wrapper">
      <h1> <p class="text-center"> <strong>Soluções em Web para diversos profissionais </strong></h1>
      </div>
      </br>
        </br>



