<div class="cover">
  <%= image_tag "banner1.jpg"=%>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="carousel-caption">
        <h1 class="text-inverse">Sites Responsivos</h1>
        <p class="text-inverse">TORNE SUA IDÉA UM SUCESSO.</p>
      </div>
    </div>
  </div>
</div>
