<div class="cover">
  <%= image_tag("banner1.jpg", :class => "img-responsive", :alt => "responsive-image") =%>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="carousel-caption">
            <h2>TORNE SUA IDÉIA UM SUCESSO !!!</h2>
            <p class="lead"> Sites Modernos e responsivos adaptados a qualquer tecnologia </p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">VER MAIS</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
