<%= image_tag 'banner1.jpg'=%>
<div class="jumbotron">
</p>Nous permettons à tous nos partenaires de développer leur présence mobile en proposant leur contenu sur iOS, Android, iPad, mais aussi sur web. Les podcasts sur Deezer sont actuellement disponibles en France,
au Royaume-Uni et en Suède sous Infos & Divertissement et prochainement dans d’autres pays.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
</br>
</br>
</br>
