<div class="cover">
  <div class="cover-image">
    <%= image_tag "banner1.jpg" =%>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="carousel-caption">
            <h2>TORNE SUA IDÉIA UM SUCESSO !!!</h2>
            <p class="lead"> Sites Modernos e responsivos adaptados a qualquer tecnologia </p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">VER MAIS</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wpb_wrapper">
      <h1> <p class="text-center"> <strong>Soluções em Web para diversos profissionais </strong></h1>
      </div>
      </br>
        </br>



