<div class="cover">
  <div class="cover-image">
    <%= image_tag "banner1.jpg" =%>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="carousel-caption">
          <h4> TORNE SUA IDÉIA UM SUCESSO !!!</h4>
          <h6> <p>Sites Modernos e responsivos adaptados a qualquer tecnologia</p><h6>
              <p><a class="btn btn-primary btn-md" href="#" role="button">VER MAIS</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wpb_wrapper">
      <h1> <p class="text-center"> <strong>Soluções em Web para diversos profissionais </strong></h1>
      </div>
      </br>
        </br>

        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="media-left media-middle">
                  <div class="media-left">
                    <a href="#">
                      <%= image_tag 'advogado.jpg' %>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Advogados</h4>
                    In order to provide the best possible experience to old and buggy browsers,
                    Bootstrap uses CSS browser hacks in several places to target special.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


