</br>
</br>
<div class="container-fluid">
<div class="row">
  <div class="col-xs-6 col-md-4"> <%= image_tag 'a empresa.jpg' =%></div>
  <div class="col-xs-6 col-md-4"> <h2>Quem Somos</h2></div>
</div>

  <div class="jumbotron">
    </br>
    </br>
<p class="text-justify">


      Fundada  em  fevereiro de 2014 a Miranda Web  atua  no  mercado de mídia digital, sempre focando
      os resultados consistentes aos nossos clientes, através das diversas soluções em web e mobile: desenvolvimento
      de websites, hotsites, lojas virtuais, blogs, marketing digital e social mídia, sistemas de web (Sistemas de Cadastros) e
      entregamos o projeto com seu domínio registrado na REGISTRO.BR, e hospedado no devido provedor de internet escolhido
      pelo cliente. Nossa meta é fidelizar nossos clientes através da qualidade dos nossos serviços, para isso oferecemos muita criatividade,
      responsabilidade e inovação em todos os nossos projetos, sempre respeitando os prazos acordados entre as partes.
      </br>

      <h3> Tecnologias de web design e programação em que trabalhamos: </h3>
      <p>

        <h5>- Front End Design: HTML 5, CSS 3, JAVA SCRIPT, FRAMEWORK BOOTSTRAP.</h5>
        <h5>- Edição de Imagens: ADOBE FIREWORKS. </h5>
        <h5>- Programação de Sistemas de Web: RUBY ON RAILS </h5>
        <h6> * Banco de dados: SQL, MYSQL, POSTGREEN </h6>
        <h6> * Hospedagem Rails: HEROKU </h6>
        <h5>- Aceitamos também Projetos em: PHP.</h5>
        <h5> OBS: Reuniões semanais, para debater o andamento do projeto, via remoto. </h5>

    </p>

    <h3>Métodos de trabalho: </h3>
    <h5>- Freelancers. </h5>
    <h5>- Contratos Mensais como Pessoa Juridíca. </h5>
    <h5>- Serviços e Contratos pelo sites PROLANCER, FREELANCERS, E WORKANA. </h5>
    <h5>  - Ou caso queiram apenas solicitar um orçamento, é só ir em nossa página "fale conosco" e enviar uma mensagem,
      que teremos a maior satisfação em atender. </h5>
    </br>
    </br>
    </div>
  </div>
</div>
