</br>
</br>
</br>

<div class="container">
  <div class="jumbotron">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag 'sociais2.jpg' %>
      </a>
    </div>
    <p class="text-right">
      <h2>Redes Sociais</h2>
  </p>
    </br>
    </br>
    </br>
    </br>
    </br>
    <p class="text-justify">

      In order to provide the best possible experience to old and buggy browsers,
      Bootstrap uses CSS browser hacks in several places to target special CSS to certain
      browser versions in order to work around bugs in the browsers themselves. These hacks
      understandably cause CSS validators to complain that they are invalid. In a couple places,
      we also use bleeding-edge CSS features that aren't yet fully standardized, but these are used
      purely for progressive enhancement. These validation warnings don't matter in practice since the
      non-hacky portion of our CSS does fully validate and the hacky portions don't interfere with the
      proper functioning of the non-hacky portion, hence why we deliberately ignore these particular warnings.
      Our HTML docs likewise have some trivial and inconsequential HTML validation warnings due to our inclusion
      of a workaround for a certain Firefox bug.</p>

    <div class="col-xs-6 col-md-3 navbar-right">
      <a href="#" class="thumbnail">
        <%= image_tag 'gerenciamento.png' %>
      </a>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>



  </div>
</div>

