</br>
</br>
</br>

<div class="container">
  <div class="jumbotron">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag 'sociais.jpg' %>
      </a>
    </div>
    </br>
    </br>
    <p class="text-right">
      <h2>Redes Sociais</h2>
  </p>
    </br>
    </br>
    </br>
    </br>
    </br>
    <p class="text-justify">

      Monitore sua marca nas redes sociais e saiba mais sobre seu público-alvo,
      Verifique interações do seu público com a sua marca nos principais canais de mídias sociais.
      Nossa atuação nas mídias sociais engloba consultoria estratégica; planejamento e entrada estruturada nas redes;
      implementação da brand persona definida e apropriada para cada plataforma; criação e manutenção de blogs / hub social/ streamline;
      curadoria de conteúdo; planejamento de conteúdo; monitoramento full time; gerenciamento de campanhas de ads e gerenciamento de crise.
      Nossos focos nas redes sociais são a construção de imagem, a disseminação de marcas e produtos por meio do compartilhamento de conteúdo
      de qualidade (social share) e o pronto atendimento aos usuários, com ganhos perceptíveis de imagem e satisfação do consumidor.

      </br>

      <h3> Gerenciamento de: </h3>
      <p>

        <h5>- Sites Empresariais</h5>
        <h5>- Sites Institucionais </h5>
        <h5>- Blogs </h5>
        <h5>- Lojas Virtuais</h5>
        <h5>- Campanhas </h5>
        <h5> OBS: Reuniões semanais, para debater o andamento do projeto, via remoto. </h5>

    </p>

    <h3>Métodos de trabalho: </h3>
    <h5>- Freelancers. </h5>
    <h5>- Contratos Mensais como Pessoa Juridíca. </h5>
    <h5>- Serviços e Contratos pelo sites PROLANCER, FREELANCERS, E WORKANA. </h5>
    <h5>  - Ou caso queiram apenas solicitar um orçamento, é só ir em nossa página "fale conosco" e enviar uma mensagem,
      que teremos a maior satisfação em atender. </h5>
    </br>
    </br>
    <div class="col-xs-6 col-md-3 navbar-right">
      <a href="#" class="thumbnail">
        <%= image_tag 'gerenciamento.png' %>
      </a>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
  </div>
</div>


</br>
</br>
