</br>
<div class="container-fluid">
<div class="row">
  <div class="col-xs-8 col-md-4"> <%= image_tag 'sistemas-web.png' =%></div>
  <div class="col-xs-6 col-md-4"> <h2>Sistemas de Web </h2></div>
</div>

 <div class="jumbotron">
  </br>

    <p class="text-justify">
      O desenvolvimento profissional de sistemas de informação (Desenvolvimento de Sistemas Web ou via Internet)
      envolve várias etapas e pode assumir diferentes ciclos de vida, dependendo de fatores como disponibilidade
      de recursos humanos, materiais, financeiros e do tempo. Os ciclos de desenvolvimento envolvem atividades de conhecimento do negócio,
      levantamento de requisitos e definição do escopo, análise, projeto, preparo dos ambientes de desenvolvimento, testes e produção,
      programação, testes, implantação e controle de mudanças.Tantas atividades exigem um bom gerenciamento, capaz de equilibrar interesses principalmente de custo, prazo, escopo e qualidade, sem deixar de atender pessoas, tratar riscos, controlar aquisições e informar ocorrências e andamento aos interessados.
      Preferencialmente adotamos ciclos de desenvolvimento iterativos e incrementais. As características são iterações curtas, geralmente mensais, e adição de funcionalidades no sistema a cada iteração. Este modelo tem se mostrado eficaz no alcance de sucesso dos projetos, uma vez que:
      permite um retorno sobre investimentos mais rápido, à medida em que novas funcionalidades são publicadas paralelamente aos desembolsos,
      aumenta a flexibilidade de priorização de funcionalidades, uma vez que cada ciclo permite o replanejamento do escopo,
      identifica riscos e fatores que podem comprometer o projeto a cada ciclo. Se sua necessidade inclui o acesso remoto em um sistema de informação por diversos usuários mantendo ainda assim seus dados centralizados, o uso de tecnologias WEB merece sua atenção. Fatores como escalabilidade e facilidade de manutenção são algumas das vantagens desta opção.
    </p>

  <h3>Alguns exemplos são: </h3>
  <h5>- Ferramentas de gerenciamento de publicação e conteúdo, para revistas e periódicos online, intranets, etc; </h5>
  <h5>- Sistemas de informação para atividades operacionais de organizações com diversas unidades operacionais em qualquer lugar da cidade, do país ou do mundo.
        Exemplos são cadeias de suprimento, sistemas de controles de estoque online, sistemas de propostas comerciais, etc; </h5>
  <h5>  - Sistemas de apoio gerencial ou sistemas de gestão empresarial; </h5>
  <h5>  - Sistemas de apoio estratégico ou para tomada de decisão; </h5>
  <h5>  - Acervos Digitais para colecionadores, museus, etc; </h5>
  <h5>  - Sistemas de Autenticação de Usuários para diversos sistemas corporativos; </h5>
  <h5>  - Sistemas de Venda e Pré-Venda, com emissão online de propostas e gerenciamento das mesmas; </h5>
  <h5>  - Gerenciadores de tarefas. Ver Tasktool, o sistema de gerenciamento de projetos da InfoSites; <h5>
  <h5>  - Gerenciadores de serviços de entrega ou sistema de entregas. Conheça o Sistema de Entregas Rápidas, completamente online desenvolvido pela InfoSites.
          Aplicações (App) acessadas por dispositivo Android com troca de informações via Internet. </h5>

        <h3>  - Benefícios dos Sistemas Web </h3>
        <h5> - Permite um retorno sobre investimentos mais rápido </h5>
        <h5> - Aumenta a flexibilidade </h5>
        <h5> - Dinamiza sua instituição </h5>
        <h5> - Melhora o fluxo de informação </h5>
        <h5> - Informações ativas e onlines 24h por dia via Internet </h5>
</div>
</div>
</br>
</br>
