</br>
</br>
<div class="container-fluid">
<div class="row">
  <div class="col-xs-6 col-md-4"> <%= image_tag 'manutenção.png' =%></div>
  <div class="col-xs-6 col-md-4"> <h2>Assistência Remota</h2></div>
</div>

  <div class="jumbotron">
    </br>
    </br>

<h2>Suporte para o websites de clientes</h2>
      </br>

      <h3> O que é ?</h3>
      <h4 p class="text-justify">
          Disponibilização de equipe técnica, básica ou especializada, para atendimento via remoto a incidentes ou
          solicitação de serviços de Tecnologia da Informação e Comunicação, a verificação básica e identificação de problemas em sistema de
          web
      </h4>
        </br>

        <h3>Caractéristicas do Serviço </h3>

        <h4 p class="text-justify">
        Nosso suporte tem como objetivo, manter 100% de funcionamento dos serviços de web/mobile de nossos clientes, nosso suporte consiste em
        3 Etapas: </h4>
        </br>

    <h4> 1- Diagnóstico de falha com base no problema identificado. </h4>
    <h4> 2- Realizar localização de defeitos no local, incluindo a execução de testes e medições necessárias para solução do problema. </h4>
    <h4> 3- Execução de procedimentos de emergência para recuperação. </h4>

      </br>
      </br>

    <div class="col-xs-6 col-md-3 navbar-right">
      <a href="#" class="thumbnail">
        <%= image_tag 'mansite.png' %>
      </a>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
  </div>
</div>


</br>
</br>
