$navbar-height: 100px

@import 'bootstrap-sprockets'
@import 'bootstrap'

body
  background-color: #eeeeee

.navbar
  background-color: #1e242e
  margin-top: 0px

.navbar-brand
  margin-bottom: 0px
  float: left
  padding: 10px 15px
  font-size: 18px
  line-height: 20px
  height: 100px

