$navbar-height: 100px

@import 'bootstrap-sprockets'
@import 'bootstrap'

body
  color: #2C3E50
  background-color: #fff
  padding-top: 50px
  padding-bottom: 0px

.col-xs-4
  margin-top: -90px
  width: 100%

.navbar-brand > img
  display: block
  margin-top: 60px
  margin-left: -10px
  width: 88%

.carousel
  height: 410px
  margin-bottom: 90px
  margin-top: -20px

.carousel-caption
  line-height: 1.43
  font-weight: bold
  text-shadow: 0 0 0.1em black, 0 0 0.1em black, 0 0 0.1em #87F
  z-index: 0px
  margin-bottom: -25px
  color: #fff
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 18px

.carousel-indicators
  margin-bottom: -7px

.carousel .item
  height: 480px
  background-color: #777

.carousel-inner > .item > img
  position: absolute
  top: 0
  left: 0
  min-width: 100%
  height: 480px


@media (min-width: 992px)

@media (min-width: 480px)

@media (min-width: 768px)
.navbar-static-top
  border-radius: 0
  margin-top: -50px

@media (min-width: 992px)
.col-md-9
  margin-bottom: -90px

.nav-pills > li > a
  text-transform: uppercase
  font-size: 12px
  font-family: "Roboto Condensed, sans-serif", Helvetica,sans-serif
  color: #999999
  font-weight: bold
  position: static
  display: inline-block
  padding: 8px
  padding-top: 8px
  margin: 10px
  transition: background-color 2s
  border-radius: 1px

  &:hover
    color: #FFF
    background-color: #2E64FE
    border-radius: 1px

.navbar-toggle
  position: relative
  float: right
  margin-right: 25px
  padding: 9px 10px
  margin-top: 20px
  margin-bottom: 33px
  background-color: transparent
  background-image: none
  border: 1px solid transparent
  border-radius: 4px

.wrapper
  text-align: center
  font-size: 16px

.marketing .col-lg-4
  margin-bottom: 20px
  text-align: center

.marketing h2
  font-weight: normal

.marketing .col-lg-4 p
  margin-right: 10px
  margin-left: 10px

.bs-docs-footer
  padding-top: 5px
  padding-bottom: 15px
  color: #777777
  text-align: center
  background-color: #101010

.jumbotron
  background-color: #d8ebed

.breadcrumb
  margin-top: 20px
  margin-bottom: 0px
  list-style: none
  background-color: #101010
  border-radius: 10px
  text: center
  color: #fff

.rodape
  background-color: #252525
  padding: 18px
  margin-bottom: -13px
