$navbar-height: 100px
$navbar-width: 100px

@import 'bootstrap-sprockets'
@import 'bootstrap'

body
  background-color: #eeeeee
  padding-top: 50px
  padding-bottom: 20px

.navbar-brand
  padding: 30px
  padding-left: 10px

img
  max-width: 100%
  height: auto
  display: block
  margin-top: -20px

@media (min-width: 768px)
.navbar-static-top
  border-radius: 0
  margin-top: -50px

@media (min-width: 992px)
.col-md-9
  width: 100%
  margin-bottom: -90px

.nav > li > a
  position: relative
  display: block
  padding: 0px 0px
  margin: 0px auto 0px auto
  position: static
  display: inline-block
  margin: 10px
  text-transform: uppercase
  font-size: 12px
  font-family: "Roboto Condensed", Helvetica Neue, Helvetica, Arial, sans-serif
  color: #999999
  font-weight: bold
  background-color: #1e242e
  padding: 8px
  transition: background-color 2s
