<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
         <%= image_tag 'logo-miranda-3.png'=%>
      </a>
<ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">Quem Somos</a></li>
        <li><a href="#">Fale Conosco</a></li>
        <li><a href="#">Sites</a></li>
        <li><a href="#">Sistemas de Web</a></li>
        <li><a href="#">Suporte Técnico</a></li>
        <li><a href="#">Soluções em Gestão de TI</a></li>

</ul>
    </div>
  </div>
</nav>
