<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class='row'>
      <div class="col-xs-12 col-sm-8 col-md-9">
          <a class="navbar-brand" href="#">
            <%= image_tag 'logo-miranda-3.png'=%>
          </a>

        <div class="section">
      <div class="container">
        <div class="row text-center">
          <div class="col-xs-3 text-center">
            <a><i class="fa fa-5x fa-fw fa-instagram"></i></a>
          </div>
          <div class="col-xs-3">
            <a><i class="fa fa-5x fa-fw fa-twitter"></i></a>
          </div>
          <div class="col-xs-3">
            <a><i class="fa fa-5x fa-fw fa-facebook"></i></a>
          </div>
          <div class="col-xs-3 text-center">
            <a><i class="fa fa-5x fa-fw fa-github"></i></a>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</nav>
